#body {
    padding-top: 50px;
    text-align: center;
    display: block;
}

/*Imagenes en general*/
#body section img {
    max-width: 449.5px;
    max-height: 635px;
}

#description {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}

#description p {
    text-align: left;
}

#description i {
    text-align: left;
}

#payDiv {
    background-color: #ffffff8f;
    padding: 9%;
}

#short_book p{
    text-align: justify;
    margin-left: 70px;
    margin-right: 70px;
}

@media (min-width:992px) {
    #body {
        display: flex;
    }
}