/*CSS for all pages specially the main page*/
/* General */
* {
    box-sizing: border-box;
    outline: none;
}

li {
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Main structure */

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#body {
    flex: 1;
    padding: 0;
    border: none;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: table;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

#header_No_Padding {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

/* Interior header */
#interior_header {
    position: relative;
    max-width: 1440px;
    transition: 0.8s ease-out;
}

#logo {
    display: block;
    float: none;
    margin: 0;
    padding: 23px 0;
    position: relative;
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease-out;
}

#menu li:hover::after {
    width: 100%;
}

#menu li.header_hover_active::after {
    width: 100%;
}

/* Books section */
#book_title h2 p {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    width: fit-content;
}

.book {
    display: inline-block;
}

.book li a img {
    border: 1px solid white;
}

.book li p {
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 187px;
}

.book_images {
    width: 187px;
    height: 262px;
}

#lastest_books {
    display: flex;
    gap: 5px;
}

#lastest_books div li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*biographie secction*/

#biographie_content {
    display: flex;
    align-items: center;
}

#biographie_photo img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

#biographie_text {
    padding: 10px;
}

/*Footer section*/

#footer_content {
    min-height: 130px;
    padding: 0;
    border: none;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    text-align: center;
}

#footer hr{
    height: 2px;
    background-color: #333;
    border: none;
    margin: 20px 0;
}