.menu {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 200px; /* Ancho ajustable */
    padding: 10px;
}

.submenu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid #fff; /* Línea blanca separadora */
}

.submenu a:last-child {
    border-bottom: none; /* No añadir línea separadora en el último enlace */
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de fondo al pasar el ratón */
}
